<%- include('../header') %>


    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit Categoy Form</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="post" action="/category/updateCategory/<%= data.id %>"
                            enctype="multipart/form-data">
                            <div class="card-body">
                                <h4 class="card-title">Edit Category</h4>


                                <!-- Category Title  -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">Category
                                        Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="c_title"
                                            value="<%= data.c_title%>" placeholder="Enter Category Title" required />
                                    </div>
                                </div>

                                <!-- Avatar  -->
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-end control-label col-form-label">Image</label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="c_image"
                                                id="validatedCustomFile" />
                                            <label class="custom-file-label" for="validatedCustomFile">Choose
                                                file...</label>
                                            <div class="invalid-feedback">
                                                Example invalid custom file feedback
                                            </div>
                                        </div>
                                        <img src="../../<%= data.c_image%>" height="100">
                                    </div>
                                </div>

                                <!-- Add Category Button  -->
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">
                                            Edit Category
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

<%- include('../footer') %>