<%- include('../header') %>




    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Update SubCategoy Form</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="post"
                            action="/subcategory/updateSubCategory/<%= updateSubCategory.id %>">
                            <div class="card-body">
                                <h4 class="card-title">Update Sub Category</h4>

                                <!-- SubCategory Title  -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Category
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="category_id">

                                            <option value="">--- Select ---</option>
                                            <% allCategory.map((category)=> { %>

                                                <option value="<%= category.id %>" <%
                                                    if(category.id==updateSubCategory.category_id) { %> selected
                                                    <%}%>>
                                                        <%= category.c_title %>
                                                </option>

                                                <% }) %>
                                        </select>

                                    </div>
                                </div>


                                <!-- SubCategory Title  -->
                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-end control-label col-form-label">SubCategory Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="subcategory_title"
                                            value="<%= updateSubCategory.subcategory_title %>"
                                            placeholder="Enter Sub Category Title" required />
                                    </div>
                                </div>



                                <!-- Add Category Button  -->
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">
                                            Update Sub Category
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>



        <%- include('../footer') %>